
.search-card-container{
  height: 100vh;
  max-width: 100%;
  background-color: #eee3e7;
  background-position: center center;
  padding: 100px;
  background-size: cover;

}



.item-1 > img{
  border-radius: 50%;
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
 }

 .item-1 h1{
  text-align: center;
  font-size: 80px;
  color: #333333;
  padding-top: 30px;
 }

 .item-1 p{
  text-align: center;
  font-size: 30px;
  color: #333333;
 }

 .search-card-container-2{
  height: 100vh;
  max-width: 100%;
  background-color: #333;
  background-position: center center;
  padding: 100px;
  background-size: cover;

}

.item-2 > h1{
  text-align: center;
  margin-top: 50px;
  color: #fff;
  font-size: 80px;
}

.item-2 > p{
  padding-top: 70px;
  text-align: center;
  font-size: 30px;
   padding-left: 200px;
  padding-right: 200px ;
  color: #fff;
}

.search-card-container-3{
  height: 100vh;
  max-width: 100%;
  background-color:  #b1c9d9;
  background-position: center center;
  padding: 100px;
  background-size: cover;

}

.item-3 > h1{
  text-align: center;
  margin-top: 20px;
  font-size: 80px;
}

.row{
  margin-top: 40px;
}

.card > img{
  margin-top: 30px;
}

.card > h3{
  padding-top: 10px;
}

.card-body > p{
  margin-top: 0.1px;
}

.card{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.card > img{
  margin-left: auto;
  margin-right: auto;
  height:100px;
  width:100px;
}

.card > h1{
  text-align: center;
}

.card > p{
  text-align: center;
}

